.section {
  background: black;
  padding: 150px 20px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
}

/* badge */

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 18px;
  border-radius: 30px;

  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #ffffff;

  margin-bottom: 40px;
}

.dot {
  width: 6px;
  height: 6px;
  background: #20c4ff;
  border-radius: 50%;
}

/* title */

.title {
  font-weight: 900;
  font-size: 96px;
  line-height: 120px;
  letter-spacing: -4.8px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.title span {
  color: #20c4ff;
}

/* subtitle */

.subtitle {
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  line-height: 32.5px;
  letter-spacing: 3.55px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff4d;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .title {
    font-size: 56px;
  }

  .section {
    padding: 160px 20px;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 14px;
  }

  .section {
    padding: 120px 20px;
  }
}
