.wrapper {
    background: #0b0b0b;
    padding: 60px;
    color: #fff;
}

.label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
    padding-left: 16px;
    border-left: 4px solid #DC3545;
}

.service {
    border-bottom: 1px solid #6A6A6A4D;
    padding: 50px 0 20px;
    cursor: pointer;
    color: #ffffff30;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    font-size: 42px;
    font-weight: 300;
    transition: text-shadow 0.3s ease, color 0.3s ease;

}
.active {
  color: #ffffff;
}

.active .header h3 {
  color: #ffffff;
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.4),
    0 0 8px rgba(255, 255, 255, 0.2);
}

.active .arrow {
  transform: rotate(90deg);
}

.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: transform 0.35s ease;
}
.service:hover .header{
    color: #fff;
}

.content {
    width: 95%;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    align-items: start;
    justify-content: space-between;
    margin-top: 30px;
    overflow: hidden;
}
.count {
    color: #DC3545;
    font-size: 36px;
    font-weight: 600;
}

.content h4 {
    font-size: 38px;
    font-weight: 600;
}

.list ul {
    padding-left: 18px;
    margin-bottom: 30px;
    color: #FFFFFF80;
    padding: 0;
    list-style: none;
    font-size: 15px;
}
.list li{
    margin-bottom: 20px;
    line-height: 24px;
}

.images {
    display: flex;
    gap: 12px;
}

.thumb {
  width: 100px;
  height: 75px;
  border-radius: 10px;
  overflow: hidden;
  background: #222;
  
}

.thumbImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}
.thumb:hover img{
    transform: scale(1.1);
}

