.loader {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.8s ease;
}

.loader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hide {
  opacity: 0;
  pointer-events: none;
}