.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: white;
  font-family: Inter, sans-serif;
}

/* Poster image (LCP element) */
.poster {
  position: absolute;
  inset: 0;
  background-image: url("/hero-poster.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* Video layer */
.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
}

.show {
  opacity: 1;
}

/* Dark overlay for readability */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 2;
}

/* Content */
.content {
  position: relative;
  z-index: 3;
  gap: 38px;
  max-width: 800px;
  margin: 50px 50px;
  padding-top: 180px;
  padding-left: 10px;
}

.kicker {
  letter-spacing: 0.3em;
  font-size: 13px;
  color: #cfcfcf;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 86px;
  line-height: 97px;
  letter-spacing: 7.2px;
  vertical-align: middle;
  font-weight: 500;
  background: linear-gradient(
  to right,
  #ffffff 0%,
  #ffffff 30%,
  rgba(255,255,255,0.5) 75%,
  rgba(255,255,255,0.25) 100%
);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
 color: transparent;
  font-family: "DM Sans", sans-serif;
}

.desc {
  max-width: 800px;
  margin-top: 25px;
  color: #FFFFFF99;
  line-height: 1.6;
  font-family: "DM Sans", sans-serif;
}

.cta {
  margin-top: 40px;
  background: #DC3545;
  border: none;
  padding: 23px 12px 23px 36px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 14.6px;
  font-family: "Inter", sans-serif;
  letter-spacing: 1.17px;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

.cta:hover {
  background: #ff1f1f;
}
.logoStrip {
  margin-top: 32px;
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 50px;
  width: 100%;
}

/* this controls visible area */
.logoViewport {
  width: 420px;
  max-width: 90vw;
  height: 70px;
  overflow: hidden;

  /* premium fade edges */
  mask-image: linear-gradient(
    to right,
    transparent,
    white 12%,
    white 88%,
    transparent
  );

  opacity: 0.85;
}

/* icon styling */
.logoViewport svg {
  color: rgba(255,255,255,0.75);
  transition: 0.3s ease;
}

.logoViewport svg:hover {
  color: white;
  transform: scale(1.1);
}

/* make logos white on dark hero */
.logoStrip svg {
  color: white;
  opacity: 0.8;
  transition: 0.3s ease;
}

.logoStrip svg:hover {
  opacity: 1;
  transform: scale(1.1);
}
