.wrapper {
  background: #0e0f11;
  padding: 60px;
}
.label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
    padding-left: 16px;
    border-left: 4px solid #DC3545;
}
.para{
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-size: 42px;
  color: #fff;
  margin-bottom: 150px;
  line-height: 1.4;
}
.animate{
  height: 100vh;
}

.stage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* One layer = one set of 4 cards */
.layer {
  position: absolute;
  inset: 0;
}

/* Card */
.card {
  --card-scale: 1;

  position: absolute;
  background: #e6e6e6;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0,0,0,0.25);
  will-change: transform, opacity, filter;

  transform: scale(var(--card-scale));
  transform-origin: center;

  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.cardImage {
  object-fit: cover;
  transform: scale(1.05); /* premium depth */
}
.stage {
  perspective: 1400px;
  transform-style: preserve-3d;
}

.layer {
  transform-style: preserve-3d;
}

/* Corners */
.tl { top: 7%; left: 10%; }
.tr { top: 7%; right: 10%; }
.bl { bottom: 8%; left: 10%; }
.br { bottom: 8%; right: 10%; }

/* Center text */
.text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  text-align: center;
  pointer-events: none;
}

.text h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}


.tag {
  padding: 14px 28px;
  border: 1px solid rgba(255,255,255,0.15);
  font-size: 14px;
  color: white;
  width: max-content;
  font-size: clamp(16px, 3vw, 32px);
  font-weight: 200;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 64px 40px;
  }

  .para {
    font-size: 32px;
    margin-bottom: 120px;
  }

  .card {
    --card-scale: 0.8;
  }

  .tl, .tr {
    top: 10%;
  }

  .bl, .br {
    bottom: 10%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 56px 24px;
  }
  .label{
    font-size: 14px;
  }

  .para {
    font-size: 22px;
    margin-bottom: 100px;
  }

  .card {
    --card-scale: 0.75;
  }

  .tl { left: 6%; top: 12%; }
  .tr { right: 6%; top: 12%; }
  .bl { left: 6%; bottom: 12%; }
  .br { right: 6%; bottom: 12%; }

  .tag {
    padding: 10px 18px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding: 48px 16px;
  }

  .para {
    font-size: 20px;
    line-height: 1.5;
  }

  .card {
    --card-scale: 0.5;
  }

  .text h3 {
    font-size: 12px;
  }
    .tl { left: -8%; top: 10%; }
  .tr { right: -10%; top: 10%; }
  .bl { left: -11%; bottom: 10%; }
  .br { right: -10%; bottom: 12%; }
  .tag {
    padding: 8px 15px;
  }
}