.section {
  background: black;
  padding: 20px 20px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* STATS */

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  padding: 40px 0;
  margin-bottom: 60px;
}

.stat {
  text-align: center;
  color: white;
}

.stat h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 6px;
}

.stat p {
  font-size: 12px;
  letter-spacing: 2px;
  color: #8a8a8a;
}

/* IMAGE */

.imageWrap {
  position: relative;
  width: 100%;
  height: 698px;

  border-radius: 50px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
/* TABLET */

@media (max-width: 1024px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .imageWrap {
    height: 420px;
  }
}

/* MOBILE */

@media (max-width: 640px) {
  .stats {
    grid-template-columns: 1fr;
    gap: 24px;
    text-align: center;
  }

  .stat h3 {
    font-size: 34px;
  }

  .imageWrap {
    height: 320px;
    border-radius: 24px;
  }
}
