.wrapper {
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 50;
}
.navbar {
  width: 1320px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  border-radius: 70px;

  /* GLASS EFFECT */
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255,255,255,0.08);
}
.logoBox {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoImg{
  object-fit: contain;
  padding: 4px;
  transform: scale(6.5);
}
.links {
  display: flex;
  gap: 48px;
  letter-spacing: 0.18em;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.links a {
  cursor: pointer;
  transition: 0.25s;
}

.links a:hover {
  color: white;
}
.contact {
  background: #ff3b3b;
  color: white;
  border: none;

  padding: 14px 26px;
  border-radius: 40px;

  font-size: 12px;
  letter-spacing: 0.15em;
  font-weight: 600;
  cursor: pointer;

  transition: 0.25s;
}

.contact:hover {
  background: #ff1f1f;
}
