.root {
  font-family: var(--font-inter);
}
.hero{
  min-height:140vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
  padding:120px 20px;

  background:
  radial-gradient(circle at top,#0e1a22 0%,#000 70%);
}

.container{
  max-width:1000px;
}

/* Badge */

.badge{
  display:inline-block;
  padding:8px 18px;
  border-radius:20px;
  border:1px solid rgba(255,255,255,0.2);

  font-size:12px;
  letter-spacing:2px;
  margin-bottom:40px;
  color:#4fd1ff;
}

/* Title */

.title{
  font-size:clamp(48px,7vw,100px);
  font-family: var(--font-inter);
  font-weight:900;
  line-height:96px;
  margin-bottom:24px;
}

.highlight{
  color:#1ec8ff;
}

/* Subtitle */

.subtitle{
  font-family: var(--font-inter);
  color: #818181;
font-weight: 300;
font-style: italic;
font-size: 24px;
line-height: 39px;
letter-spacing: 0.07px;
text-align: center;
margin-bottom: 30px;
}

/* Tags */

.tags{
  display:flex;
  justify-content:center;
  gap:12px;
  flex-wrap:wrap;
  margin-bottom:50px;
}

.tags span{
  border:1px solid rgba(255,255,255,0.2);
  padding:10px 18px;
  border-radius:20px;
  font-size:13px;
}

/* Buttons */

.actions{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.primary{
  display:flex;
  align-items:center;
  gap:8px;

  background:white;
  color:black;
  padding:16px 30px;
  font-weight:600;
  letter-spacing:1px;

  border-radius:4px;
}

.secondary{
  padding:16px 30px;
  background:transparent;
  border:1px solid rgba(255,255,255,0.2);
  color:white;
}